@{
    ViewBag.Title = ViewBag.ReportTitle;
}

<h2>@ViewBag.ReportTitle</h2>

@*<script type="text/javascript">
    $(window).load(function () {

        document.getElementById("myReport").src = "../../Report/AppReportViewer.aspx";

        $("#autoUpdate").show();

    });
</script>*@

<div id="autoUpdate" style="display: none; overflow-y: auto; border:none;" >
    <iframe id="myReport" width="100%" height="800px" style="border:none;">
    </iframe>    
</div>  