
@{
    ViewBag.Title = "BadRequest";
}

<h2>Bad Request</h2>
<p style="color:red">Your requested resources is not found. It may be a broken link, invalid or missing paramateres or link may be changed. Please contact to your administrator to help.</p>
<h4 style="color:red">@ViewBag.Message</h4>

