
@{
    ViewBag.Title = "RecordNotFound";
}

<h2>Requsted Record Not Found</h2>
<p style="color:red">Your requested record not found. May be it has been deleted or changed over network. Please refresh the page and try again or contact to your administrator for more help.
    </p>
<h4 style="color:red">@ViewBag.Message</h4>
